<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Angular</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Angular?</h2>
    <p>
      Angular is a modern TyppeScipt framework, which is focused on creating reactive single page applications.
    </p>
    <h2>What is Typscript</h2>
    <p>
      Typescript is a superset of Javascript that is much more similar to Java or any other object oriented language. Type
      script is transpiled when the angular app is built into vanilla javascript which runs much more easily in the browser.
    </p>
    <h2>Components</h2>
    <p>
      Angular Components are standalong page elements that make up our angular application. When generating a Component,
      Angular will generate the Typscript, HTML, and CSS files as well as a file used for testing. The main core of Angualr
      is the modularity of Components that help to divide complexity down and to reuse code as much as possible.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
