p{
  padding: .25em;
  text-align: center;
}

h2{
  padding:.5em;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 70%;
  border-radius:2em;
  background-color: black;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card-header{
  color: white;
}

.card-body{
  background-color: slategrey;
  border-radius: 2em;
  align-content: center;
}

.angular-header-image {
  background-image: url('../../../../assets/images/favicon.ico');
  background-size: cover;
}

