img{
  background-size: cover;
  height: 50%;
}

.btn{
  width: 100%;
  height: 3em;
  background-color:  darkslategrey;
  color: white;
  font-size: 1.5em;
  border: 1em;
  border: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: left;
}

.btn-container{
  background-color: black;
  position: fixed;
  width: 15%;
}

.btn:hover {
  background-color: lightgrey;
  color: white;
}

.btn-group {
  background-color: black; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.container {
  overflow: hidden;
}

.content{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.heading{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 5em;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.table-button{
  width: 100%;
  color: darkorange;
  background-color: black;
  font-style: oblique;
  font-size: 2em;
}

.sidenav {
  padding: 10px;
  height: auto;
}

.code{
  font-family: "Courier New", monospace;
}
