<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Copperplate Gothic" rel="stylesheet"/>
<h1 class="heading">
  Dev Journal
</h1>

<mat-sidenav-container>
  <mat-sidenav  class="btn-container" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <br/>
    <br/>
    <div class="btn-group">
      <button class="btn" (click)= 'changeState()' routerLink="Angular"><img src="../assets/images/favicon.ico"> Angular </button>
      <button class="btn" routerLink="Angular-Material"><img src="../assets/images/Angular-Material.png"> Angular Material </button>
      <button class="btn" routerLink="Amazon-Web-Services"><img src="../assets/images/aws-logo-icon-PNG-Transparent-Background.png"> Amazon Web Services </button>
      <button class="btn" routerLink="Azure"><img src="../assets/images/Azure.png"> Azure </button>
      <button class="btn" routerLink="C"><img src="../assets/images/c-programming.png"> C </button>
      <button class="btn" routerLink="C-Sharp"><img src="../assets/images/C-Sharp.png"> C# </button>
      <button class="btn" routerLink="Git"><img src="../assets/images/logo%20git%20icon.png"> Git </button>
      <button class="btn" routerLink="Linux"><img src="../assets/images/Tux.svg"> Linux </button>
      <button class="btn" routerLink="Python"><img src="../assets/images/Python-logo.png"> Python </button>
      <button class="btn" routerLink="Spring"><img src="../assets/images/spring-3-logo-png-transparent.png"> Spring </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <button mat-button class="table-button" (click)="sidenav.toggle()">Table of Contents</button>
    <div class="content">
      <br/>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
