<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Copperplate Gothic" rel="stylesheet"/>
<h1 class="heading">
  Dev Journal
</h1>

<mat-sidenav-container>
  <mat-sidenav  class="btn-container" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <br/>
    <br/>
    <button class="btn" (click)="print()">Angular</button>
    <br/>
    <button class="btn">Spring</button>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <button mat-button class="table-button" (click)="sidenav.toggle()">Table of Contents</button>
    <div class="content">
      <br/>
      <app-angular></app-angular>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
