<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Copperplate Gothic" rel="stylesheet"/>
<h1 class="heading">
  Dev Journal
</h1>

<mat-sidenav-container>
  <mat-sidenav  class="btn-container" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <br/>
    <br/>
    <div class="btn-group">
      <button class="btn" (click)= 'changeState()' routerLink="Angular">Angular</button>
      <button class="btn" routerLink="Angular-Material">Angular Material</button>
      <button class="btn" routerLink="Amazon-Web-Services">Amazon Web Services</button>
      <button class="btn" routerLink="Spring">Spring</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <button mat-button class="table-button" (click)="sidenav.toggle()">Table of Contents</button>
    <div class="content">
      <br/>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
