<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="angular-header-image"></div>
    <mat-card-title><h1>Avro</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <h2>What is Avro?</h2>
    <p></p>
    <h2>Schema Evolution</h2>
    <p>
      The Avro Schema Registry allows for Schema's to evolve over time. This new data can be backwards compatible,
      forwards compatible, fully compatible, or breaking. This allows for the evolution of API's and the visioning
      allows for current systems to remain working without having to make any code changes. 
    </p>
  </mat-card-content>
</mat-card>
