/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body{
  font-family: 'Ubuntu', sans-serif;
}
p{
  padding: .5em;
}

h2{
  padding:.5em;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 90%;
  border-radius:2em;
  background-color: black;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card-header{
  color: white;
}

.card-body{
  background-color: slategrey;
  border-radius: 2em;
  align-content: center;
  color: black;
}
.code{
  font-family: "Courier New", monospace;
}

.red{
  color: white;
  background-color: maroon;
}

.commit-green{
  color: black;
  background-color: mediumspringgreen;
}

.space-blue{
  color: white;
  background-color: #1D2951;
}

.metal-blue{
  color: white;
  background-color: #1F282D;
}

.cyan{
  color: black;
  background-color: cyan;
}

.purple{
  color: white;
  background-color: rebeccapurple;
}

.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
